@import '../app';

/* Game */

#game-big-panel {
  font-family: "KOTRA_BOLD-Bold", serif;
  background: rgb(180,58,58);
  background: linear-gradient(90deg, rgba(180,58,58,1) 0%, rgba(0,0,0,1) 50%, rgba(75,69,252,1) 100%);

  table {
    th {
      padding: 10px;
      color: white;
    }

    th.panel-team-name {
      font-weight: bold;
      font-size: 30px;
      padding-bottom: 0 !important;
    }

    th.panel-score {
      font-size: 60px;
      font-weight: bold;
    }

    th.panel-player-name {
      padding-top: 0 !important;
      font-family: "S-CoreDream-3Light", serif;
    }
  }
}

.card-header, .card-body {
  padding: 5px !important;
}

.card-header {
  background: white !important;
  font-weight: bold;

  &.bg-danger {
    background-color: $danger !important;
  }

  &.bg-primary {
    background-color: $primary !important;
  }
}

.card-body {
  .row {
    margin-right: 0;
    margin-left: 0;
  }
  div[class*="col"] {
    padding-left: 5px;
    padding-right: 5px;
  }
}