@import '../../app';
@import '../../../node_modules/bootstrap/scss/mixins/breakpoints';

/* Main */
#main-search-jumbotron {
  background-image: url("../../res/main-search-bg.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 5em;
  padding-bottom: 5em;

  @include media-breakpoint-down(sm) {
    padding-inline: 2em;
  }
  @include media-breakpoint-between(sm, lg) {
    padding-inline: 5em;
  }
  @include media-breakpoint-up(lg) {
    padding-inline: 10em;
  }
  @include media-breakpoint-up(xl) {
    padding-inline: 20em;
  }
  @include media-breakpoint-up(xxl) {
    padding-inline: 50em;
  }
}