@import '../node_modules/bootstrap/scss/bootstrap';

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.bg-danger {
  background-color: $danger !important;
}

.bg-primary {
  background-color: $primary !important;
}

body {
  background: #F5F5F5 !important;
  font-family: 'S-CoreDream-3Light', serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
